html,body,h1,h2,p {
    margin: 0;
    padding: 0;
    line-height: 1.0;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.header {
    height: 400px;
    background: ;
}

.name {
    height: 300px;
    background: #EFFFF6;
}

.age {
    height: 300px;
    background: #626262;
}

.from {
    height: 300px;
    background: lightpink;
}

.job {
    height: 300px;
    background: mediumpurple;
}

.hobby {
    height: 300px;
    background: turquoise;
}

h2 {
    width: 260px;
    border-bottom: 4px solid #444444;
    margin: 0 auto 40px;
    text-align: 20px 0 10px;
}

.name h2 {
    color: #5c5c5c;
}

.age h2 {
    color: #FFFFFF;
    border-bottom: 4px solid #FFFFFF;
}

.name p {
    width: 540px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}

.age p {
    width: 540px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    color: #FFFFFF;
}

.from p {
    width: 540px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}

.job p {
    width: 540px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}

.hobby p {
    width: 540px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}













.header h1 {
    color: green;
}

h2 {
    color: navy;
}